/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/proteinfamilies -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Minmal test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function (no MSA clipping, no redundancy checking, no update)'

    // Input data
    input                         = params.pipelines_testdata_base_path + 'proteinfamilies/samplesheets/samplesheet.csv'
    // Clustering
    cluster_size_threshold        = 5
    // Alignment
    trim_msa                      = false
    recruit_sequences_with_models = false
    // Redundancy
    remove_family_redundancy      = false
    remove_sequence_redundancy    = false
}
